@model BookShop.ViewModels.CheckoutVm.CheckoutIndexVm
<!-- Main wrapper -->
<div class="wrapper" id="wrapper">

<!-- Start breadcrumb area -->
    <div class="ht__breadcrumb__area bg-image--4">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__inner text-center">
                        <h2 class="breadcrumb-title">Checkout</h2>
                        <nav class="breadcrumb-content">
                            <a class="breadcrumb_item" href="index.html">Home</a>
                            <span class="brd-separator">/</span>
                            <span class="breadcrumb_item active">Checkout</span>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End breadcrumb area -->
    <!-- Start Checkout Area -->
    <section class="wn__checkout__area section-padding--lg bg__white">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-12">
                    <div class="customer_details">
                        <h3>Billing details</h3>
                        <div class="customar__field">
                            <div class="margin_between">
                                <div class="input_box space_between">
                                    <label>First name <span>*</span></label>
                                    <input type="text" asp-for="@Model.FirstName">
                                </div>
                                <div class="input_box space_between">
                                    <label>last name <span>*</span></label>
                                    <input type="text" asp-for="@Model.LastName">
                                </div>
                            </div>
                            <div class="input_box">
                                <label>Company name <span>*</span></label>
                                <input type="text">
                            </div>
                            <div class="input_box">
                                <label>Country<span>*</span></label>
                                <input type="text" asp-for="@Model.Country">
                            </div>
                            <div class="input_box">
                                <label>Street Address <span>*</span></label>
                                <input type="text" placeholder="Street address" asp-for="@Model.Address">
                            </div>
                            <div class="input_box">
                                <label>State<span>*</span></label>
                                <input type="text" asp-for="@Model.State">
                            </div>
                            <div class="input_box">
                                <label>Postcode / ZIP <span>*</span></label>
                                <input type="text">
                            </div>
                            <div class="margin_between">
                                <div class="input_box space_between">
                                    <label>Phone <span>*</span></label>
                                    <input type="text"  asp-for="@Model.Address">
                                </div>

                                <div class="input_box space_between">
                                    <label>Email address <span>*</span></label>
                                    <input type="email"  asp-for="@Model.Email">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-12 md-mt-40 sm-mt-40">
                    <div class="wn__order__box">
                        <h3 class="order__title">Your order</h3>
                        <ul class="order__total">
                            <li>Product</li>
                            <li>Total</li>
                        </ul>
                        <ul class="order_product">
                            @foreach (var carItem in Model.Cart.CartItems)
                            {
                                <li>@carItem.Book?.Name × @carItem.Quantity<span>Rs. @carItem.Amount</span></li>
                            }
                        </ul>
                        <ul class="shipping__method">
                            <li>Cart Subtotal <span>Rs. @Model.Cart.TotalAmount</span></li>
                            <li>Shipping <span>Rs. 0</span></li>
                        </ul>
                        <ul class="total__amount">
                            <li>Order Total <span>Rs. @Model.Cart.TotalAmount</span></li>
                        </ul>
                    </div>
                    <div id="accordion" class="checkout_accordion mt--30" role="tablist">
                        <div class="payment">
                            <div class="che__header" role="tab" id="headingOne">
                                <a class="checkout__title" data-bs-toggle="collapse" href="#collapseOne"
                                   aria-expanded="true" aria-controls="collapseOne">
                                    <span>Direct Bank Transfer</span>
                                </a>
                            </div>
                            <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne"
                                 data-bs-parent="#accordion">
                                <div class="payment-body">Make your payment directly into our bank account. Please
                                    use your Order ID as the payment reference. Your order won’t be shipped until
                                    the funds have cleared in our account.
                                </div>
                            </div>
                        </div>
                        <div class="payment">
                            <div class="che__header" role="tab" id="headingTwo">
                                <a class="collapsed checkout__title" data-bs-toggle="collapse" href="#collapseTwo"
                                   aria-expanded="false" aria-controls="collapseTwo">
                                    <span>Cheque Payment</span>
                                </a>
                            </div>
                            <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo"
                                 data-bs-parent="#accordion">
                                <div class="payment-body">Please send your cheque to Store Name, Store Street, Store
                                    Town, Store State / County, Store Postcode.
                                </div>
                            </div>
                        </div>
                        <div class="payment">
                            <div class="che__header" role="tab" id="headingThree">
                                <a class="collapsed checkout__title" data-bs-toggle="collapse" href="#collapseThree"
                                   aria-expanded="false" aria-controls="collapseThree">
                                    <span>Cash on Delivery</span>
                                </a>
                            </div>
                            <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree"
                                 data-bs-parent="#accordion">
                                <div class="payment-body">Pay with cash upon delivery.</div>
                            </div>
                        </div>
                        <div class="payment">
                            <div class="che__header" role="tab" id="headingFour">
                                <a class="collapsed checkout__title" data-bs-toggle="collapse" href="#collapseFour"
                                   aria-expanded="false" aria-controls="collapseFour">
                                    <span>PayPal <img src="/public_panel/images/icons/payment.png" alt="payment images"> </span>
                                </a>
                            </div>
                            <div id="collapseFour" class="collapse" role="tabpanel" aria-labelledby="headingFour"
                                 data-bs-parent="#accordion">
                                <div class="payment-body">Pay with cash upon delivery.</div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
    <!-- End Checkout Area -->
</div>
<!-- //Main wrapper -->