@using BookShop.Enum
@model OrderIndexVm

<div class="page-wrapper">
    <!-- Page header -->
    <div class="page-header d-print-none">
        <div class="container-xl">
            <div class="row g-2 align-items-center">
                <div class="col">
                    <!-- Page pre-title -->
                    <div class="page-pretitle">
                        Overview
                    </div>
                    <h2 class="page-title">
                        Orders
                    </h2>
                </div>
            </div>
        </div>
    </div>

    <div class="page-body">
        <div class="container-xl">
            <div class="row row-deck row-cards">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">List of Orders</h3>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table card-table table-vcenter text-nowrap datatable" id="dataTable">
                                    <thead>
                                    <tr>
                                        <th>Book Id</th>
                                        <th>Image</th>
                                        <th>Name</th>
                                        <th>Price</th>
                                        <th>Quantity</th>
                                        <th>Total</th>
                                        <th>Payment Status</th>
                                        <th>Order Status</th>
                                        <th></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    @foreach (var orderDetails in Model.OrderDetails)
                                    {
                                        <tr>
                                            <td>
                                                <span class="text-muted">@orderDetails.Id</span>
                                            </td>
                                            <td>
                                                <img style="width: 30px" src="/uploads/books/@orderDetails.Book?.BookImages?.FirstOrDefault()?.FileName" alt="@orderDetails.Book?.Name">
                                            </td>
                                            <td>@orderDetails.Book?.Name</td>
                                            <td>@orderDetails.Book?.Price</td>
                                            <td>@orderDetails.Quantity</td>
                                            <td>@orderDetails.Total</td>
                                            <td>@orderDetails.PaymentStatus</td>
                                            <td>@orderDetails.OrderStatus</td>
                                            <td>
                                                <div class="d-flex gap-1">
                                                    @if (orderDetails.OrderStatus == OrderStatus.Processing)
                                                    {
                                                        <form asp-action="ChangeOrderStatus" asp-route-id="@orderDetails.Id" asp-route-orderStatus="@OrderStatus.Approved">
                                                            <button type="submit" class="btn btn-primary">
                                                                <i class="fa fa-check"></i>&nbsp;
                                                                Mark as Approved
                                                            </button>
                                                        </form>
                                                    }
                                                    @if (orderDetails.OrderStatus == OrderStatus.Approved)
                                                    {
                                                        <form asp-action="ChangeOrderStatus" asp-route-id="@orderDetails.Id" asp-route-orderStatus="@OrderStatus.Shipped">
                                                            <button type="submit" class="btn btn-info">
                                                                <i class="fa fa-check"></i>&nbsp;
                                                                Mark as Shipped
                                                            </button>
                                                        </form>
                                                    }
                                                    @if (orderDetails.OrderStatus == OrderStatus.Shipped)
                                                    {
                                                        <form asp-action="ChangeOrderStatus" asp-route-id="@orderDetails.Id" asp-route-orderStatus="@OrderStatus.Delivered">
                                                            <button type="submit" class="btn btn-warning">
                                                                <i class="fa fa-check"></i>&nbsp;
                                                                Mark as Delivered
                                                            </button>
                                                        </form>
                                                    }
                                                </div>
                                            </td>
                                        </tr>
                                    }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>