@model List<OrderIndexVm>

<div class="page-wrapper">
    <!-- Page header -->
    <div class="page-header d-print-none">
        <div class="container-xl">
            <div class="row g-2 align-items-center">
                <div class="col">
                    <!-- Page pre-title -->
                    <div class="page-pretitle">
                        Overview
                    </div>
                    <h2 class="page-title">
                        Orders
                    </h2>
                </div>
            </div>
        </div>
    </div>

    <div class="page-body">
        <div class="container-xl">
            <div class="row row-deck row-cards">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">List of Orders</h3>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table card-table table-vcenter text-nowrap datatable" id="dataTable">
                                    <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Order By</th>
                                        <th>Address</th>
                                        <th>Total</th>
                                        <th>Order Date</th>
                                        <th>Payment Date</th>
                                        <th></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    @foreach (var order in Model)
                                    {
                                        <tr>
                                            <td>
                                                <span class="text-muted">@order.Id</span>
                                            </td>
                                            <td>@order.User?.FullName</td>
                                            <td>
                                                @order.UserAddress?.StreetAddress
                                            </td>
                                            <td>@order.OrderTotal</td>
                                            <td>@order.DateOfOrder</td>
                                            <td>@order.DateOfPayment</td>
                                            <td class="text-end">
                                                <a asp-action="Details" asp-route-id="@order.Id" class="btn">
                                                    <i class="fa fa-eye"></i> &nbsp;
                                                    View
                                                </a>
                                            </td>
                                        </tr>
                                    }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>