@model List<BookShop.ViewModels.OrderVm.UserOrderIndexVm>
<!-- Main wrapper -->
<div class="wrapper" id="wrapper">

    <!-- Start breadcrumb area -->
    <div class="ht__breadcrumb__area bg-image--3">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__inner text-center">
                        <h2 class="breadcrumb-title">Shopping Cart</h2>
                        <nav class="breadcrumb-content">
                            <a class="breadcrumb_item" href="/">Home</a>
                            <span class="brd-separator">/</span>
                            <span class="breadcrumb_item active">Shopping Cart</span>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End breadcrumb area -->
    @if (Model.Any())
    {
        <!-- cart-main-area start -->
        <div class="cart-main-area section-padding--lg bg--white">
            <div class="container">
                <div class="row">
                    @foreach (var order in Model.OrderByDescending(x => x.DateOfOrder))
                    {
                        <div class="col-md-12 col-sm-12 ol-lg-12 mt-2">
                            <div class="card">
                                <div class="card-header d-flex align-items-center gap-2">
                                    <div>
                                        <h5 class="card-title">Order ID: @order.Id</h5>
                                        <p>Placed on @order.DateOfOrder</p>
                                    </div>
                                    <div class="mx-auto"></div>
                                    <a href="#" style="color: #ce7852" class="tocart">Manage</a>
                                </div>
                            </div>
                            <div class="table-content wnro__table table-responsive">
                                <table>
                                    <thead>
                                    <tr class="title-top">
                                        <th class="product-thumbnail">Image</th>
                                        <th class="product-name">Product</th>
                                        <th class="product-quantity">Quantity</th>
                                        <th class="product-price">Status</th>
                                        <th class="product-subtotal">Date</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    @foreach (var book in order.OrderDetails)
                                    {
                                        <tr>
                                            <td class="product-thumbnail">
                                                <a href="/uploads/books/@book.Book?.BookImages?.FirstOrDefault()?.FileName">
                                                    <img src="/uploads/books/@book.Book?.BookImages?.FirstOrDefault()?.FileName" alt="product img">
                                                </a>
                                            </td>
                                            <td class="product-name">
                                                <a href="/book/@book.Book?.Slug">@book.Book?.Name</a>
                                            </td>
                                            <td class="product-quantity">
                                                <input type="number" readonly="readonly" value="@book.Quantity">
                                            </td>
                                            <td class="product-price">
                                                <span class="badge" style="background-color: #ce7852">@book.PaymentStatus</span>
                                                <span class="badge" style="background-color: #ce7852">@book.OrderStatus</span>
                                            </td>

                                            <td class="product-subtotal">
                                                @book.DateOfOrderDelivered
                                            </td>
                                        </tr>
                                    }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
        <!-- cart-main-area end -->
    }
    else
    {
        <div style="height:200px; font-size: 1rem; margin-top: 20px">
            <p class="text-center">Your order is empty!!</p>
        </div>
    }
</div>
<!-- //Main wrapper -->

<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="dvData"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script>
$(document).ready(function(){
    $(document).on("click",".clsDetails",OpenModalPopUp);   
});

function OpenModalPopUp(){
   let itemName = $(this).data("item");
   alert(itemName);
   $('#dvData').html(itemName);
   $("#myModal").modal();
}

</script>